/AerialWaste
/pipeline_step1
/pipeline_step2_results
/satelitski_snimci_srbija
/svi_isečci_srbija
docker-compose.yml
Dockerfile
requirements.txt
train_segmentation.py
train.pycheckpoints/
checkpoints_classifier_backup/
checkpoints/
train.py
# Visual Studio
*.vs/
**/obj/
**/bin/
*.user
*.suo
*.cache
*.dtbcache.v2
*.metadata.v9.bin
*.projects.v9.bin
*.strings.v9.bin
*.backup.json
*.json

train.py
