<section class="h-screen">
<div class="p-6 text-center rounded-xl max-w-4xl mx-auto" style="margin-top: 80px;font-size: 13pt">
  <p class="text-gray-700 leading-relaxed"> <strong>TIAC Landfills</strong> aplikacija omogućava sistematsko praćenje, mapiranje i analizu svih deponija na teritoriji Republike Srbije. Interaktivna mapa pruža pregled pojedinačnih lokacija deponija i njihovih ekoloških uticaja, sa ciljem podizanja svesti o stanju životne sredine. </p>
  <p class="text-gray-700 mt-3 leading-relaxed"> Kao deo šire <strong>ESG inicijative</strong>, projekat promoviše principe <em>Environmental, Social and Governance</em> (životna sredina, društvo i upravljanje) – podstičući odgovorno upravljanje otpadom, transparentnost i svest o važnosti održivog razvoja. </p>
</div>

<div class="flex justify-center my-4" style="margin-top: 50px">
  <button (click)="scrollToMap()" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
    Prikaz mape
  </button>
</div>
</section>

<section id="mapSection" class="py-12 px-4 sm:px-6 lg:px-8">
<div class="flex justify-center mb-2">
  <button *ngIf="!controlsVisible" (click)="toggleControls()" style="color: #448B2E" class="flex items-center gap-1">
    <span>Prikaz dodatnih funkcionalnosti</span>
    <span class="transform rotate-90">››</span>
  </button>
</div>


<div
  class="overflow-hidden transition-all duration-500 ease-in-out"
  [ngStyle]="{'max-height': controlsVisible ? '200px' : '0'}"
>
  <div class="flex justify-center mb-4 gap-4 p-2">
    <div class="flex items-center justify-left gap-1">
      <label for="mapYear" class="mr-2 font-bold">Odaberi godinu:</label>
      <select [(ngModel)]="selectedYear" id="mapYear" (change)="onDateChange()" class="border p-1 rounded">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <button (click)="useMyLocation()" class="ml-4 bg-green-600 text-white px-3 py-1 rounded hover:bg-green-700">
      Koristi moju lokaciju
    </button>

    <div class="flex items-center gap-1 ml-4">
      <span class="font-bold">HeatMap</span>
      <label class="switch">
        <input type="checkbox" (change)="toggleHeat()" [checked]="heatVisible">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>


<div class="flex justify-center mb-6 relative" style="width: 100%;">

  <div class="map-wrapper">
    <div id="map"></div>

    <div class="map-legend bg-white p-4 rounded-md min-w-[240px] text-sm">
    <h4 class="text-green-700 font-bold mb-2">Legenda</h4>
      <button
        (click)="toggleType('divlja')"
        [ngClass]="divljaVisible ? 'bg-red-100 text-red-700' : 'hover:bg-gray-100'"
        class="flex items-center mb-1 p-2 rounded transition-all duration-150">
        <span class="w-4 h-4 bg-red-500 inline-block mr-2 rounded-full"></span>
        Divlja deponija
      </button>

      <button
        (click)="toggleType('nesanitarna')"
        [ngClass]="nesanitarnaVisible ? 'bg-orange-100 text-orange-700' : 'hover:bg-gray-100'"
        class="flex items-center mb-1 p-2 rounded transition-all duration-150">
        <span class="w-4 h-4 bg-orange-500 inline-block mr-2 rounded-full"></span>
        Javna nesanitarna
      </button>

      <button
        (click)="toggleType('sanitarna')"
        [ngClass]="sanitarnaVisible ? 'bg-blue-100 text-blue-700' : 'hover:bg-gray-100'"
        class="flex items-center mb-1 p-2 rounded transition-all duration-150">
        <span class="w-4 h-4 bg-blue-500 inline-block mr-2 rounded-full"></span>
        Sanitarna
      </button>
      <div id="analysisResult" class="p-4 bg-yellow-50 rounded mt-4 text-sm"></div>

    </div>

  </div>

</div>
</section>



