<div class="p-6 rounded-xl max-w-6xl mx-auto mt-8 text-gray-700" style="font-size: 12pt">
  <p class="mb-4 leading-relaxed">
    Za Srbiju, upravljanje otpadom je jedan od najhitnijih ekoloških izazova, kako zbog unutrašnjih ciljeva, tako i zbog međunarodnih obaveza.
  </p>
  <p class="mb-4 leading-relaxed">
    Srbija godišnje generiše oko <strong class="text-red-600">3 miliona tona</strong> komunalnog otpada, od čega <strong class="text-red-600">80%</strong> završava na nesanitarnim smetlištima i divljim deponijama.
    Manje od <strong class="text-red-600">2%</strong> otpada iz domaćinstava se reciklira, što je daleko ispod proseka EU od 48%.
  </p>
  <p class="mb-4 leading-relaxed">
    <strong>Sanitarna deponija</strong> je higijenski i ekološki prihvatljiv način zbrinjavanja otpada u skladu sa propisima. Savremene deponije koriste slojeve zemlje i gline za hidroizolaciju, sakupljanje gasova i tečnih produkata razgradnje, kao i mašine za sabijanje otpada radi uštede prostora.
    <br>U Srbiji trenutno postoji <strong>12 sanitarnih deponija</strong>, a samo oko 20% otpada se odlaže na ove objekte.
  </p>
  <p class="mb-4 leading-relaxed">
    <strong>Nesanitarne deponije</strong> su prostori za deponovanje komunalnog otpada koji ne zadovoljavaju tehničke standarde.
  </p>

  <p class="mb-4 leading-relaxed">
    <strong>Divlje deponije</strong> predstavljaju nekontrolisano odložene otpade na javnim površinama. <br>
    Procene sugerišu da u Srbiji postoji preko <strong class="text-red-600">3500 divljih deponija</strong> koje predstavljaju direktan rizik za zemljište, hidrosferu i zdravlje stanovništva.
  </p>
  <p class="mb-2 leading-relaxed font-bold">Ključni zagađivači vazduha su:</p>
  <ul class="list-disc list-inside mb-4 leading-relaxed">
    <li>Metan (CH4) i ugljen-dioksid (CO2) – glavni akteri kontaminacije</li>
    <li>Vodonik-sulfid (H2S) – miris "pokvarenih jaja"</li>
    <li>Amonijak (NH3) – oštar, iritirajući gas</li>
    <li>Isparljiva organska jedinjenja (VOCs) – benzen, vinil-hlorid, itd.</li>
    <li>Suspendovane čestice (PM2.5/PM10) – fina prašina</li>
  </ul>
  <p class="mb-4 leading-relaxed">
    Farmaceutski otpad građana, koji bi prema Zakonu o upravljanju otpadom trebalo da preuzimaju apoteke i predaju ovlašćenim preduzećima, u praksi često završava u običnim kanticama ili kontejnerima. Troškove preuzimanja farmaceutskog otpada snosi proizvođač ili uvoznik, a zbog slabog nadzora i troškova, ovaj propis se uglavnom ne sprovodi, što dodatno ugrožava već postojeći ekološki izazov.
  </p>
</div>
