<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid flex justify-between items-center">
    <a
      routerLink=""
      class="flex items-center gap-2 font-bold"
      style="color: #448B2E; font-size: 18pt; padding: 15px"
    >
      TIAC LANDFILLS
      <img src="leaf.png" alt="Leaf" class="w-9 h-9 rotate-45" />
    </a>

    <a
      routerLink="info"
      class="font-semibold cursor-pointer mr-6 text-[#448B2E] hover:text-[#79FF4CD0] transition-colors duration-300"
    >
      Informacije o ekološkom stanju
    </a>
  </div>
</nav>
